
extends ../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Red Gold - 3D Diamond Shapes"

block product
	shopper-product(restocking-soon link="6856062173220")

block visual
	<carouse-carousel data-aspect="2x3" loop hidden>
		<figure><img src="/assets/images-medium/products/diamond-shapes/red-gold.jpg"/></figure>
	</carouse-carousel>

block writeup
	h3 Decorative diamond shapes for nail art inlays or on top of polish
	p These tiny 3D Diamond shape pieces fit so nicely together, uniformly or scattered.
	p Each piece has four edges that catch the light at different angles — reflecting like diamond facets 💠
	ul
		li Polish Secured — lay on top of wet nail polish, and wait for top coat to dry and seal in.
		li Gel Polish Secured — lay on top of uncured gel polish, then cure.
		li Top Coat Optional.
