
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Acrylic Powder 2oz Soft White"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6659823435812")

block visual
	<carouse-carousel data-aspect="3x2" loop hidden>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-04.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p>Excellent for sculpting and designing custom nails. Use with Suzie’s Odourless and Fast Set Monomers for a correctly cured nail.</p>
	<p>Opaque white acrylic, designed with the ombre and french nails in mind.</p>
	<ul>
		<li>Store in a cool dark place</li>
		<li>Keep away from children</li>
	</ul>
