
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s Acrylic Powder 2oz Clear Cap"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6659825795108")

block visual
	<carouse-carousel data-aspect="3x2" loop hidden>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-05.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p>Excellent for sculpting and designing custom nails. Use with Suzie’s Odourless and Fast Set Monomers for a correctly cured nail.</p>
	<p>Strong clear acrylic designed to encapsulate and protect your inlay designs, or help mix colours.</p>
	<ul>
		<li>Store in a cool dark place</li>
		<li>Keep away from children</li>
	</ul>
