
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Acrylic Powder 2oz Pink Tint"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6659823796260")

block visual
	<carouse-carousel data-aspect="3x2" loop hidden>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-03.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p>Excellent for sculpting and designing custom nails. Use with Suzie’s Odourless and Fast Set Monomers for a correctly cured nail.</p>
	<p>Transparent acrylic, designed to create the healthy natural pink hue of a natural nail.</p>
	<ul>
		<li>Store in a cool dark place</li>
		<li>Keep away from children</li>
	</ul>
