
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Acrylic powder collection of four"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6659820388388")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-04.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-powders/acrylic-powder-brighter-05.jpg"/></figure>
	</carouse-carousel>

block writeup
	p Excellent for sculpting and designing custom nails. Mix together to create many shades and different hues from the original four colours. For best results, use with Suzie’s Odourless and Fast Set Monomers.</p>
	ul
		li Store in a cool dark place
		li Keep away from children
