
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s ‘The Button’ Forms"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNTI3MjI5ODA=")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/button-forms/button-forms-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/button-forms/button-forms-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/button-forms/button-forms-04.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h3>Intoducing Suzie's New Forms!</h3>
	<p>As a nail tech, I can’t tell you how excited I was to design a nail form, with all the elements of my experience in one unique design!</p>
	<p>I took lots of time designing them, because I wanted to give you the very best.</p>
	<p>I'm so happy with how adorable they turned out — cute as a button! — that's why I call them ‘The Button’</p>
	<ul>
		<li>Designed to work with Acrylic, Gel, and Hybrid Gel</li>
		<li>Guidelines for Almond, Square, Stiletto, and Coffin nail designs</li>
		<li>Longer than standard forms to accommodate extra long nails</li>
		<li>Strong paper that's great for custom shaping</li>
		<li>Unique circular design</li>
	</ul>
