
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Acrylic Brush: Crystal-handle & Gold Edition"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY2MDYxMDQ0Mjg1ODA=")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/crystal-gold-brush/crystal-gold-brush-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/crystal-gold-brush/crystal-gold-brush-02.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h3>Suzie’s first size #6 brush!</h3>
	<p>The most important tool for a nail tech is their brush. What matters most is its functionality— next to how it looks, of course...</p>
	<p>In rose gold with a crystal handle, this brush is smaller and sleeker to help you get that perfect bead just right with the correct liquid to powder ratio! It’s also excellent for applying jelly tips.</p>
	<p>Take care of this baby, and this brush will help you create beautiful nails for years to come.</p>
	<ul>
		<li>Chemical resistant rose gold casing</li>
		<li>Matching rose gold lid— to ensure brush longevity</li>
		<li>Made with genuine kolinksy</li>
	</ul>
