
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "EZ Gel Kit"

block product
	shopper-product(restocking-soon link="6875102281764")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-04.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-06.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ezgel/ezgel-07.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Introducing Suzie's EZ Gel Kit!
	p Contents include:
	ol
		li Suzies MIDNIGHT EZ Gel 20 ml
		li Suzies Pink Mix 20 ml
		li Suzie’s French &amp; Ombre White
		li 5 Premium File Set
		li Reveal Gel Top Coat ( no wipe )
		li Bridge Gel Adhesion
		li 10 The Button Forms
		li Ez Gel Brush &amp; Spatula
		li Lint Free Gel Pads
	p Suzie's Gel Kit is Cruelty Free and Made in America
