
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s Fine Files (25 pack)"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODU4MDg0MjA=")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/files-bulk/files-bulk-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/files-bulk/files-bulk-06.jpg"/></figure>
	</carouse-carousel>

block writeup
	<ul>
		<li>240/240 grit</li>
		<li>ideal for smoothing</li>
		<li>gentle enough for natural nails</li>
	</ul>
