
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s 5-File Set"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzQzOTM2MDA2NDcyMDQ=")

block visual
	<carouse-carousel arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/tube-blue/blue-tube-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-06.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-07.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-08.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-09.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-10.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p>Each set comes in a beautiful tube that doubles as a hand-rest</p>
	<h3>Five Individual Files Included</h3>
	<ul>
		<li>
			<strong>Fine File 240/240</strong>
			<ul>
				<li>ideal for smoothing</li>
				<li>gentle enough for natural nails</li>
			</ul>
		</li>
		<li>
			<strong>Medium File 180/180</strong>
			<ul>
				<li>ideal or shaping</li>
				<li>delicate yet strong grit for acrylic nails</li>
			</ul>
		</li>
		<li>
			<strong>Coarse File 100/100</strong>
			<ul>
				<li>ideal for sculpting</li>
				<li>low-profile for ease between nail and finger</li>
			</ul>
		</li>
		<li>
			<strong>Sandy Sponge File 80/80</strong>
			<ul>
				<li>ideal for sanding</li>
				<li>flexibly surrounds the nail</li>
			</ul>
		</li>
		<li>
			<strong>Smooth &amp; Shine Sponge 300/4000</strong>
			<ul>
				<li>one side buffs, and the other side shines</li>
				<li>can create a shine on natural nails without needing a top-coat product</li>
			</ul>
		</li>
	</ul>
