
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "French Cut Bit"

block product
	shopper-product(restocking-soon link="6923935088676")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/french-cut-bit/french-cut-bit-01.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Perfect your French Smile Lines!
	p French Nails can be challenging. This specially cut bit, with it’s V shaped sides, will help you make the cleanest French Smile Line quickly and cleanly – with one stroke across the nail. This bit will speed you up and help you make French nail fills much faster.
	p This bit will change your French Nail Game!
	p ⚠️ E-Files and bits require training and practice before safe usage on humans. This product is intended to be used on humans only by a professional.
	p Fits 3/32 E-Files (like #[a(href="/store/products/ezfile") Suzie's EZ-File])
