
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Gem Catcher"

block product
	shopper-product(restocking-soon link="6875099463716")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/gem-catcher/gemcatcher-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/gem-catcher/gemcatcher-02.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's Gem Catcher
	p The Triangle shape is key. As you pour your gems or glitter onto your nails, place the Gem Catcher underneath to catch any that falls. Use the triangle corner to easily pour back into your jar.
	p It also doubles as a hard surface to pick up your gems and then easy using corners to pour back in.
