
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Golden Assorted Gems"

block product
	shopper-product(restocking-soon link="6944658784292")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/golden-gems/golden-gems-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/golden-gems/golden-gems-02.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's New Golden Nail Art Gems
	p This little jar is LOADED with so many gems!
	p Triangles, squares, circles, feathers, stars, starburst, beads, studs, shells, rectangles, solid triangles, half circles in two sizes, caviar beads, and more
	<ul>
		<li>Keep out of reach of children</li>
	</ul>
