
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Golden Assorted Gems"

block product
	shopper-product(restocking-soon link="6944658784292")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/golden-gems/golden-gems-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/golden-gems/golden-gems-02.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's New Golden Nail Art Gems
	p This jar is loaded with flatbacks, pearls, large and small. Crystal flatbacks of several different sizes, half circles, and arrowheads.
	<ul>
		<li>Keep out of reach of children</li>
	</ul>
