
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Ice Crystals"

block product
	shopper-product(restocking-soon link="6875103199268")

block visual
	<carouse-carousel data-aspect="3x2" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/ice-crystals/icecrystals-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ice-crystals/xmas-icicles-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/ice-crystals/xmas-icicles-06.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's Ice Crystals Nail Art
	p Diamonds, circles, rectangles, teardrops, and super-tiny beads.
	<ul>
		<li>Keep out of reach of children</li>
	</ul>
	br
	p Suzie used this product in her video: <em>"Mrs. Clause Builds Icicles"</em>:
	.youtube-embed
		<iframe src="https://www.youtube.com/embed/_D7uDG1TO18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
