
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Jem Jab"

block product
	shopper-product(restocking-soon link="6875095040036")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/jem-jab/jemjab-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/jem-jab/jemjab-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/jem-jab/jemjab-03.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's New Nail Art Tool
	p Jem Jab has two functional ends
	ol
		li The wax tip end helps you pick up your gems, and release them easily onto the nail.
		li The other end is a hard point that you can use to adjust your gems on the nails.
	p Jem Jab is unique in that this pointy end is very tiny, so you can adjust the tiniest of gems and beads. Easy to clean if any gel or polish transfers – just wipe with alcohol.
