
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s ‘Jewel of the Nail’ Dappen Dish"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNTQ2ODkwNjA=")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/jewel-dappen-dish/dappen-dish-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/jewel-dappen-dish/dappen-dish-04.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/jewel-dappen-dish/dappen-dish-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/jewel-dappen-dish/dappen-dish-03.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h3>Display this dazzling crystal sapphire coloured dappen dish on your nail table!</h3>
	<p>This dappen dish is the perfect size to immerse and condition your brush. It has ample depth to tap against the sides and regulate your monomer intake.</p>
	<p>Place the jewel onto the dish to protect your monomer from any contamination.</p>
	<p>Use this striking accessory as a stunning backdrop for your nail photo ops! Also works perfectly as a jewelry dish or a safe place to keep small pieces like e-file bits and gems.</p>
