
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s \"Let's Get Hydrated\""

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6696154431524")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/lets-get-hydrated/lets-get-hydrated-01-brighter.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/lets-get-hydrated/lets-get-hydrated-02-brighter.jpg"/></figure>
	</carouse-carousel>

block writeup
	p A rich cream made with Shea Butter. Very little goes a long way.
	p Massage onto hands, feet, arms and legs as needed.
