
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s \"Let's Get Sugar\""

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6696151711780")

block visual
	<carouse-carousel data-aspect="3x2" loop hidden>
		<figure><img src="/assets/images-medium/products/lets-get-sugar/sugar-01-brighter.jpg"/></figure>
	</carouse-carousel>

block writeup
	p Fine Cane Sugar infused with Shea Butter and Coconut oil.
	p Apply twice a week, to leave your skin feeling soft and revitalized.
	p Use before #[a(href="./lets-get-hydrated") "Let's Get Hydrated"] for best results.
