
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s Manicure Kit"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTQ0MDE5OTI3NDA=")

block visual
	<carouse-carousel data-aspect="3x2" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-04.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/files-bulk/files-bulk-06.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/butter-cream/butter-cream-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/oil/nce-cuticle-05.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/manicure-kit/manicure-kit-06.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h3>Natural nail care in one collection.</h3>
	<p>Happy hands as a lovely gift or for yourself! This kit has everything you need to give or receive a professional manicure (or pedicure).</p>
	<p>Includes in depth step-by-step instructions written by Suzie.</p>

	<h4><span>Let's Get Hydrated</span> <span>— 125 ml</span></h4>
	<p>A rich cream made with Shea Butter. Very little goes a long way.</p>
	<p>Massage onto hands, feet, arms and legs as needed.</p>

	<h4><span>Let's Get Sugar</span> <span>— 60 ml</span></h4>
	<p>Pure Fine Cane Sugar infused with Shea Butter and Coconut oil.</p>
	<p>Leaves skin soft and revitalized.</p>

	<h4><span>Peppermint Squeeze</span> <span>— 30 ml</span></h4>
	<p>A small squeeze softens cuticle making it easier to gently push them back.</p>
	<p>Refreshing fragrance of peppermint and lemon.</p>
	<p>Infused with Vitamin E and Aloe.</p>

	<h4><span>Cuticle Oil</span> <span>— 15 ml</span></h4>
	<p>Oil is essential for moisturizing cuticles.</p>
	<p>Pomegranate and lime scented.</p>

	<h4><span>Fine File</span> <span>— 240/240 grit</span></h4>
	<p>Gently shapes the free edge of the nail.</p>

	<h4><span>Smooth &amp; Shine File</span> <span>— 400/3000 grit</span></h4>
	<p>The secret to shiny nails without a top coat polish.</p>

	<h4><span>Wooden tools</span></h4>
	<p>Cuticle sticks, a small spoon and a nail brush.</p>
