
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Mini Acrylic Kit"

block product
	shopper-product(restocking-soon link="6748201943076")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/mini-acrylic/mini-acrylic-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/mini-acrylic/mini-acrylic-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/mini-acrylic/mini-acrylic-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/mini-acrylic/mini-acrylic-04.jpg"/></figure>
	</carouse-carousel>

block writeup
	h3 I wish I had this product when I was learning acrylic!
	p This kit is the perfect size to try Suzie’s Odourless System.
	p It’s very unique, opposite to traditional monomers.
	ul
		li Low odour
		li Cures very slowly (so you have time to sculpt)
		li Efficient product, you can use 3x less
		li Foundation pink powder for a flawless finish
		li Soft white for Ombre and French nails
