
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie's Prep &amp; Bond"

block product
	shopper-product(restocking-soon link="6923953242148")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/prep-and-bond/prepbond-1.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Prepare to prevent lift!
	p To be applied before acrylic application.
	p Oils in the nail plate must be eliminated Before application. #[em Let’s Dehydrate] will remove oils and cleanse your nail. It helps removes oils and extra moisture to prevent lifting. This is an important step to a no-lift nail.
	p #[em Let’s Bond] acts as an adhesive between your natural nail and the acrylic product you’re going to apply. This product should be applied after #[em Let’s Dehydrate]. After you have correctly prepared the nail and removed the dust, gently apply #[em Let’s Bond] to the exposed natural nail being careful not to over saturate the natural nail plate. Try not to forget to apply your #[em Let’s Bond], otherwise lifting may occur.
	p How to use them together: After you removed cuticle and filed to prepare for application, apply #[em Let’s Dehydrate] over entire nail, and always before #[em Let’s Bond].
