
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Pumpkin Nail Display"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1OTMxODIxNzExNzI=")

block visual
	<carouse-carousel loop hidden>
		<figure><img src="/assets/images-medium/products/pumpkin-nail-display/pumpkin-01.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p>Display your nail art on this whimsical display! Five golden tip posts are ready for your work. Includes a package of assorted tips.</p>
