
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie’s Quick Tips"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6669675003940")

block visual
	<carouse-carousel data-aspect="3x2" loop hidden>
		<figure><img src="/assets/images-medium/products/quick-tips/quick-tips-01.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h3>Clear Full Coverage Gelly Tips - Soak Off</h3>
	<h4>These are a game changer, they're FAST!</h4>
	<p>No Sculpting, No Shaping, No Lamp.</p>
	<p>Suzie's Quick Tips, plus a little bead of Suzie's Clean Acrylic, and BOOM — you have a nail!</p>
	<ul>
		<li>Shape: Almond</li>
		<li>Length: Medium</li>
	</ul>
