
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "'Reveal' Top Coat"

block product
	shopper-product(restocking-soon link="6875101528100")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/reveal-top-coat/reveal-top-coat-01.jpg"/></figure>
	</carouse-carousel>

block writeup
	h2 Suzie's New Gel Top Coat
	p Apply Reveal Gel Top Coat over your enhancements, gel polish and nail art to protect your design. For a strong lasting finish and High Shine. Strong enough to seal in your gems and beads.
	p Cure for 60 seconds under a UV lamp.
