
extends ../../_templates/_store-product.pug

block append variables
	- pageName = "store-product"
	- pageSubtitle = "Suzie's Acrylic Brush & Files Kit: White & Rose Gold Edition"

block product
	shopper-product(restocking-soon uid="Z2lkOi8vc2hvcGlmeS9Qcm9kdWN0LzY1NzYzNDg3NTgwNTI=")

block visual
	<carouse-carousel data-aspect="2x3" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/rose-gold-brush/rose-gold-brush-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/rose-gold-brush/rose-gold-brush-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-11.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-brush/nce-acrylic-brush-12.jpg"/></figure>
	</carouse-carousel>

block writeup
	<section>
		<p>The most important tool for a nail tech is their brush. What matters most is its functionality— next to how it looks, of course…</p>
		<p>I've designed this beauty to check both of those boxes! In White and Rose Gold and made with kolinsky, this Oval 8 brush is an ideal size for creating Acrylic nails. I always design my brushes with a cap, which is so important for the longevity of a happy brush!</p>
		<p>Take care of this baby, and this brush will help you create beautiful nails for years to come.</p>
	</section>
	<section>
		<h3>Five Files Included</h3>
		<ul>
			<li>
				<strong>Fine File 240/240</strong>
				<ul>
					<li>ideal for smoothing</li>
					<li>gentle enough for natural nails</li>
				</ul>
			</li>
			<li>
				<strong>Medium File 180/180</strong>
				<ul>
					<li>ideal or shaping</li>
					<li>delicate yet strong grit for acrylic nails</li>
				</ul>
			</li>
			<li>
				<strong>Coarse File 100/100</strong>
				<ul>
					<li>ideal for sculpting</li>
					<li>low-profile for ease between nail and finger</li>
				</ul>
			</li>
			<li>
				<strong>Sandy Sponge File 80/80</strong>
				<ul>
					<li>ideal for sanding</li>
					<li>flexibly surrounds the nail</li>
				</ul>
			</li>
			<li>
				<strong>Smooth &amp; Shine Sponge 300/4000</strong>
				<ul>
					<li>one side buffs, and the other side shines</li>
					<li>can create a shine on natural nails without needing a top-coat product</li>
				</ul>
			</li>
		</ul>
	</section>
