
extends ../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Wooden Nail Brush"

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6696161673252")

block visual
	<carouse-carousel data-aspect="1x1" arrows dots loop hidden>
		<figure><img src="/assets/images-medium/products/wooden-nail-brush/wooden-brush-01-brighter.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/wooden-nail-brush/wooden-brush-02-brighter.jpg"/></figure>
	</carouse-carousel>

block writeup
	p With a little soap and water, this brush is effective for scrubbing nails clean and removing any debris under or around natural nails or nail enhancements
