
extends ../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Frosted White Glitter - Gem Jar"

block product
	shopper-product(restocking-soon link="6839712841764")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/gem-jars/gem-frosted-white-glitter.jpg"/></figure>
	</carouse-carousel>

block writeup
	h3 From Suzie's Gem Jar Collection – Frosted White Glitter
	p Pour glitter onto freshly painted nail, right from the jar! You even dip the nail straight into jar, if you prefer.
	p You can <em>very gently</em> pat or press the glitter onto top coat.
	p Then you just let it dry 😊
