
[data-page="store"] {

	.header {
		position: relative;
		margin-top: 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		border-radius: 0.5em 0.5em 0 0;

		> .bakery-logo {
			height: 12em;
			transform: scale(1.2);
			filter: drop-shadow(1px 3px 10px #000);
		}

		> .bigbar {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5em;
			padding: 0 1em;

			> h1 {
				& a > * {
					vertical-align: middle;
				}
				& a > small {
					font-size: 0.5em;
					font-weight: normal;
				}
			}

			> sheep-nav {
				margin-left: auto;
				padding: 1em;
			}
		}
	}

	sheep-catalog {
		border-radius: 0 0 0.5em 0.5em;
		padding: 1em;
		padding-bottom: 5em;
		text-align: left;

		&::part(card) {
			color: white;
			background: #fff2;
			padding: 0.5rem;
		}

		&::part(card-title) {
			color: white;
		}
	}

}
