
[data-page="store"] {

	.header {
		position: relative;
		margin-top: 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1em;
		border-radius: 0.5em 0.5em 0 0;

		> .bakery-logo {
			height: 12em;
			transform: scale(1.2);
			filter: drop-shadow(1px 3px 10px #000);
		}

		> .bigbar {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.5em;
			padding: 0 1em;

			> h1 {
				& a > * {
					vertical-align: middle;
				}
				& a > small {
					font-size: 0.5em;
					font-weight: normal;
				}
			}

			> sheep-nav {
				margin-left: auto;
				padding: 1em;
			}
		}
	}

	sheep-search {
		&::part(input) {
			max-width: unset;
		}
		&::part(tag) {
			color: inherit;
			opacity: 0.4;
		}
		&::part(tag x-active) {
			color: inherit;
			opacity: 1;
			box-shadow: 0 0 1.5em #fff8;
		}
	}

	sheep-catalog {
		border-radius: 0 0 0.5em 0.5em;
		padding: 1em;
		padding-bottom: 5em;
		text-align: left;

		&::part(card) {
			background: #fff;
			padding: 0.5rem;
			border-radius: 1em;
			box-shadow: 0.3em 0.4em 1em #0002;
		}

		&::part(card-img) {
			border-radius: 0.8em;
		}

		&::part(addbutton x-add-to-cart) {
			background: #43ddff;
			color: white;
		}

		&::part(addbutton x-select-from-variants) {
			background: #437cff;
			color: white;
		}

		&::part(addbutton x-sold-out) {
			background: #4d5484;
			color: white;
		}

		&::part(pill-collection) {
			display: none;
		}

		[data-nightlight] & {
			&::part(card) {
				color: white;
				background: #fff2;
			}

			&::part(card-title) {
				color: white;
			}
		}
	}

	:is(sheep-catalog, sheep-cart, sheep-cart-modal) {
		&::part(sale) {
			color: white;
			background: #f150ff80;
			text-shadow: 1px 2px 2px #0004;
		}
		&::part(line-item) {
			border: 1px solid;
			border-radius: 0.5em;
			[data-nightlight] & {
				border: none;
				border-radius: 0.1em;
			}
		}
	}

}

