
extends ../../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Reflection Collection #12 Goth's Secret"

block product
	shopper-product(restocking-soon link="6725881528356")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/polish/reflection/polish-12.jpg"/></figure>
	</carouse-carousel>

block writeup
	h3 Introducing Suzie's "Reflection Collection" nail polishes
	ul
		li Suzie selected twelve shiny colours by KCE just for you.
		li Be sure to see the #[a(href="/store/#polish") whole collection] on the store page.
		li For maximum shine, Suzie recommends applying these polishes onto a layer of Top Coat (either gel top coat or polish top coat)
		li Note these colours are high-pigment, and may stain! This is another reason Suzie recommends applying these polishes onto a top coat.
		li These polishes dry very fast.
