
extends ../_templates/_page.pug

block append variables
	- pageName = "store"
	- pageSubtitle = "Store"

block main
	//- section.noticebanner.alert
	//- 	p 📦 Shipping operations are on hold for the holidays, and will resume on January 2
	.plate
		h2 NCE Store is Undergoing Maintenance — check back soon!
