
extends ../../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Chrome Powder: Hallo's Night"

block product
	shopper-product(restocking-soon link="6761813606436")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/chrome/halloween/halloween-chrome-04.jpg"/></figure>
	</carouse-carousel>

block writeup
	h3 Suzie's Chrome Powder
	ul
		li Example photo above shows two sample tips: one with black gel as a base, and the other with white gel as a base.
		li Each chrome powder comes with an applicator.

	h3 Directions
	ol
		li Apply chrome powder with applicator to a cured gel top coat. Burnish powder onto top coat until fully covered. Completely dust off any powder residue.
		li Apply a top coat of gel to protect chrome from scuffing off.
	h3 Tips
	ul
		li Use black gel as a base for a deeper more intense colour.
		li Use white gel as a base for a less intense colour.
