
extends _page.pug

block append variables
	- pageName = "store"

block append main
	section.noticebanner.alert
		p 📦 Shipping operations are on hold for the holidays, and will resume on January 2
	.area
		.visual
			block visual
				p [visual]
		.product
			block product
				p [shopper-product]
			small.disclaimers
				p Note: depending on your location, your order may be subject to international duty fees
			.writeup
				block writeup
					p [writeup]
			.details
				block details
