
extends ../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Pewter Caviar Beads"

block product
	shopper-product(restocking-soon link="6944659734564")

block visual
	<carouse-carousel data-aspect="1x1" loop arrows dots hidden>
		<figure><img src="/assets/images-medium/products/caviar-beads/caviar-beads-03.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/caviar-beads/caviar-beads-04.jpg"/></figure>
	</carouse-carousel>

block writeup
	<h2><em>Super TINY</em> Beads are hard to find!</h2>
	<p>I have created this tiny collection, ready for when you need to add sparkle on your tiny canvas.</p>
	<p>It's a selection of the TINEST beads in the industry. 0.4mm are the Tiniest of all! These super tiny beads are difficult to make, which makes them more expensive and unique. Also included are 0.5mm and 0.6mm.</p>
	<p>These beads add such a level of detail and sophistication. In a cluster, or placed delicately on their own, these help your design stand out. It’s all in the details!</p>
	<h4>How to use</h4>
	<p>When you pour a little amount into your dish (I recommend the <a href="/store/products/gem-catcher">Gem Catcher</a> — it’s designed to easily pour back into jar) you will see the different sizes as the bigger ones sit higher.</p>
	<p>Using a tiny brush, gather a little bit of gel, then place your brush inside the beads to gather several at one time. Then lay them onto your nail by pushing them into place.</p>
	<p>Or if you want to just grab one bead, pick it up with the wax side of the <a href="/store/products/jem-jab">Jem Jab</a> and place onto wet acrylic or gel and then use needle point on <a href="/store/products/jem-jab">Jem Jab</a> to adjust into place.</p>
	<p>Gem catcher tray not included</p>
	<ul>
		<li><a href="/store/products/jem-jab">Jem Jab</a> is not included</li>
		<li><a href="/store/products/gem-catcher">Gem Catcher</a> is not included</li>
		<li>Keep out of reach of children</li>
	</ul>
