
[data-page="community"] {
	.text {
		max-width: 28em;
		> * + * {
			margin-top: 0.7em;
		}
	}
	.sidebyside {
		display: flex;
		flex-wrap: wrap-reverse;
		gap: 1em;
		> * {
			flex: 1 1 12em;
		}
		img {
			display: block;
			width: 24em;
			max-width: 100%;
			border: 0.5em white solid;
			box-shadow: 2px 5px 8px #0002;
		}
		.text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.feature {
		margin-top: 2em;
	}

	[data-community-page="welcome"] {
		xiome-login-panel {
			max-width: 28em;
		}
		xiome-login-panel::part(buttonbar) {
			text-align: right;
		}
		xiome-my-account {
			display: block;
			margin: 1em 0;
		}
		.nextstep {
			margin-top: 3em;
		}
	}

	[data-community-page="qa"] {
		xiome-login-panel {
			max-width: 28em;
			margin-bottom: 2em;
		}
		xiome-questions {
			max-width: 100%;
			--xiome-questions-like-color: #006cff;
			--xiome-questions-report-color: red;
			&::part(question-editor) {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 1em;
			}
			&::part(questions-list) {
				background: #fff8;
				padding: 1em 0.5em;
				border-radius: 1em;
			}
			&::part(answer) {
				padding: 1em 0.5em;
				background: #fff8;
				border: 3px solid white;
				box-shadow: 1px 2px 7px #0002;
				border-radius: 1em;
			}
			&::part(bubble) {
				border: 1px solid #2c675e40;
			}
		}
	}
}
