
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community"

block main
	div(data-community-page="welcome")
		.plate
			nav.stdnav.subnav
				a(href="./" data-marked) Welcome
				a(href="./questions" data-tag="new") Questions
				a(data-tag="soon") Livestream
				a(data-tag="soon") Premium
			h1 Join Suzie's new NCE Community
			.text
				p Suzie's new community is in early-access, and you can be one of the first to login! We're just getting started by releasing a simple #[a(href="./questions") questions board].
				p Stay tuned for more coming soon!
			h3 Setup your NCE Community profile
			.text
				p You can set a nickname and a tagline, both of which appear wherever you post in the NCE Community
			.feature
				xiome-login-panel(show-logout)
					xiome-my-account
