
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community"

block main
	div(data-community-page="welcome")
		.plate
			nav.subnav
				a(href="./" data-marked) Welcome
				a(href="./questions" data-tag="new") Q&amp;A
				a(data-tag="soon") Livestream
				a(data-tag="soon") Premium
			h1 Welcome to the NCE Community
			.text
				p Suzie's new community is in early-access, and you can be one of the first members to join.
				p We're getting started by releasing a #[a(href="./questions") Q&amp;A board] where you can submit your questions, and Suzie will answer her favourites in her videos!
			h3 Create your account (or login)
			.text
				p You can set a nickname and a tagline, both of which appear wherever you post in the NCE Community
			.feature
				xiome-login-panel(initially-hidden)
					xiome-my-account
					p.nextstep Now go check out the #[a(href="./questions") Questions Board]
