
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community"

block main
	div(data-community-page="welcome")
		.plate
			nav.subnav
				a(href="./" data-marked) Welcome
				a(href="./qa" data-tag="new") Q&amp;A
				a(data-tag="soon") Livestream
				a(data-tag="soon") Premium
			h1 Welcome to the NCE Community
			.sidebyside
				.text
					p Suzie's new community is in early-access, and you can be one of the first members to join.
					p We're getting started with the #[a(href="./qa") Q&amp;A board] where you can submit your questions, and Suzie will answer her favourites in her videos!
				img(src="/assets/images-medium/courses/suzie-event-01.jpg" alt="")
			.feature
				xiome-login-panel(initially-hidden)
					.text(slot="logged-out")
						h3 Enter your email to login or create an account
					.text
						h3 You are logged in
						p You can customize your nickname and your tagline, which will appear wherever you post in the NCE Community
					xiome-my-account
					.text.nextstep
						p Now go check out the #[a(href="./qa") Q&amp;A Board]
