
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community Livestream"

block main
	div(data-community-page="livestream-chat")
		.plate
			xiome-chat
