
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community Livestream"

block main
	div(data-community-page="livestream")
		.plate
			nav.subnav
				a(href="./") Welcome
				a(href="./qa" data-tag="new") Q&amp;A
				a(data-tag="soon" data-marked) Livestream
				a(data-tag="soon") Premium
			xiome-video-display
