
extends ../_templates/_page.pug

block append variables
	- pageName = "community"
	- pageSubtitle = "Community Livestream"

block main
	div(data-community-page="livestream")
		.plate
			nav.subnav
				a(href="./") Welcome
				a(href="./qa" data-tag="new") Q&amp;A
				a(data-tag="soon" data-marked) Livestream
				a(data-tag="soon") Premium
		.live(data-chat="true")
			.boxes
				.videobox
					//- img(src="/assets/images-medium/courses/suzie-event-01.jpg")
					xiome-video-display(initially-hidden)
						p(slot="unavailable") livestream is coming soon
						p(slot="unprivileged") your account does not have permission to view the livestream
				.chatbox
					xiome-video-companion(initially-hidden)
						xiome-chat
			.controls
				button.togglechat Toggle Chat
			.helpboxes
				.help-stream
					h3 Welcome to Suzie's Livestream
					p Stay tuned for scheduling information.
					p If you are having troubles getting the livestream working, please email #[nce-email(user="chase" domain="nailcareer.com")]
				.help-chat
					h3 How to participate in the live chat
					ul
						li.toggle Press the "Toggle Chat" button
						li Make sure you're logged in
						li Type your message to Suzie and press Enter
			script.
				const live = document.querySelector(".live")
				const toggle = document.querySelector(".live .togglechat")
				toggle.onclick = () => {
					const isActive = live.getAttribute("data-chat") === "true"
					live.setAttribute("data-chat", isActive ? "false" : "true")
				}
