
extends ../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Acrylic Powder 1oz: Best Wishes, Warmest Rega..."

block product
	shopper-product(restocking-soon link="https://nail-career-education.myshopify.com/admin/products/6944672776228")

block visual
	<carouse-carousel data-aspect="1x1" loop arrows dots hidden>
		<figure><img src="/assets/images-medium/products/acrylic-1oz/best-wishes-warmest-rega/best-wishes-warm-rega-01.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-1oz/best-wishes-warmest-rega/best-wishes-warm-rega-02.jpg"/></figure>
		<figure><img src="/assets/images-medium/products/acrylic-1oz/best-wishes-warmest-rega/best-wishes-warm-rega-03.jpg"/></figure>
	</carouse-carousel>

block writeup
	<details class="memes">
		<summary><em>Did you get the reference?</em> Click to reveal!</summary>
		<img alt="" src="/assets/images-small/memes/warmest-regards.jpg"/>
		<p>It's a quote from <em>Schitt's Creek!</em> We love that show! It's Suzie's favourite</p>
	</details>
	<p>A soft coloured powder for a delicate design. The velvety texture blends perfectly with Suzie's Monomers. Comes in a reusable glass jar with a natural cork stopper.</p>
	<p>You can use this acrylic powder on its own, or blend it with other acrylic colours to make your own custom colours. Blend with Suzie's soft white to create a marble — or blend the clear acrylic to make a transparent shade of each colour.</p>
	<p>⚠️ Orders for this product are scheduled to start shipping in the first week of March.</p>
	<ul>
		<li>Store in a cool dark place</li>
		<li>Keep away from children</li>
		<li>Colours can look different on devices, so they may appear different in-person</li>
	</ul>
