
extends _templates/_page.pug

block append variables
	- pageName = "404"

block main
	p.notfound 404 page not found
	h1 Sorry, this page isn't here anymore.
	p You must have followed a link that is now broken.
	p Please let us know by contacting support (you'll find the contact info below)
