
[data-page="home"] {
	.example {
		padding-top: 10em;
		padding-bottom: 10em;
	}
	main {
		padding: 0 2rem;
		> * + * {
			margin-top: 2em;
		}
	}
	.stdshadow {
		box-shadow: 2px 3px 3px #0002;
	}
	.stdhomeslice {
		margin: auto;
		max-width: 64em;
	}
	.homie {
		@extend .stdhomeslice;
		h1 {
			font-size: 3em;
			color: #00909875;
		}
		img {
			@extend .stdshadow;
			display: block;
			margin-top: 1em;
			width: 100%;
			aspect-ratio: 2.5 / 1;
			object-fit: cover;
			border-radius: 1em;
		}
		@media (max-width: 460px) {
			h1 { font-size: 1.5em; }
			img { aspect-ratio: 1 / 1; }
		}
	}
	.intro {
		max-width: 28em;
		margin: 5em auto;
		text-align: left;
		> * {
			margin-top: 0.5em;
		}
	}
	.homegrid {
		@extend .stdhomeslice;
		display: flex;
		gap: 1em;
		margin: 1em auto;
		flex-wrap: wrap;
		justify-content: center;
		> * {
			@extend .stdshadow;
			flex: 1 1 24em;
			max-width: 32em;
			display: flex;
			flex-wrap: wrap;
			color: #0006;
			background: #00f2;
			border-radius: 1em;
			.image, .product-image {
				flex: 0 0 6em;
				padding: 1em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				svg, img {
					display: block;
					width: 6em;
					height: 6em;
					aspect-ratio: 1 / 1;
					object-fit: cover;
				}
			}
			.slate, .product-content {
				flex: 1 1 10em;
				padding: 1em;
				max-width: 100%;
				text-align: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
				> * + * {
					margin-top: 0.5em;
				}
			}
		}
		.youtube { background: #f004; }
		.questions { background: #006fff22; }
		.facebook { background: #00f2; }
		.instagram { background: #feffd9; }
		shopper-product { background: #f0f2; }
		shopper-product {
			img {
				user-select: none;
				-webkit-user-drag: none;
				user-drag: none;
				border: 0.5em solid white;
				border-radius: 1em;
				box-shadow: 1px 2px 7px #0002;
			}
		}
	}
}
