
[data-page="home"] {
	.example {
		padding-top: 10em;
		padding-bottom: 10em;
	}
	main {
		padding: 0 2rem;
		> * + * {
			margin-top: 2em;
		}
	}
	.stdshadow {
		box-shadow: 2px 3px 3px #0002;
	}
	.stdhomeslice {
		margin: auto;
		max-width: 64em;
	}
	.homie {
		@extend .stdhomeslice;
		h1 {
			font-size: 3em;
			color: #00909875;
		}
		img {
			@extend .stdshadow;
			display: block;
			margin-top: 1em;
			width: 100%;
			aspect-ratio: 2.5 / 1;
			object-fit: cover;
			border-radius: 1em;
		}
		@media (max-width: 460px) {
			h1 { font-size: 1.5em; }
			img { aspect-ratio: 1 / 1; }
		}
	}
	.intro {
		font-size: 1.5em;
		max-width: 28em;
		margin: 2em auto;
		text-align: left;
		> * {
			margin-top: 0.5em;
		}
	}
	.homegrid {
		@extend .stdhomeslice;
		display: flex;
		gap: 1em;
		margin: 1em auto;
		flex-wrap: wrap;
		justify-content: center;
		+ .homegrid {
			margin-top: 3em;
		}
		.stdgridbox {
			@extend .stdshadow;
			color: #0006;
			background: #fff8;
			border-radius: 1em;
			flex: 1 1 24em;
			max-width: 32em;
		}
		> .gridbox-socials {
			@extend .stdgridbox;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			> h2 {
				opacity: 0.75;
				flex: 1 1 100%;
				font-size: 1em;
				padding: 0.2em;
			}
			> a {
				display: flex;
				flex-direction: column;
				padding: 0.5em;
				> svg {
					display: block;
					width: 4em;
					height: 4em;
					margin: 0 auto;
				}
				> span {
					display: block;
					> span {
						display: block;
						&:nth-child(2) {
							color: unset;
							text-decoration: unset;
						}
					}
				}
			}
		}
		> .gridbox-alpha {
			@extend .stdgridbox;
			display: flex;
			flex-wrap: wrap;
			.image, .product-image {
				flex: 0 0 6em;
				padding: 1em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				svg, img {
					display: block;
					width: 6em;
					height: 6em;
					aspect-ratio: 1 / 1;
					object-fit: cover;
				}
			}
			.slate, .product-content {
				flex: 1 1 10em;
				padding: 1em;
				max-width: 100%;
				text-align: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
				> * + * {
					margin-top: 0.5em;
				}
			}
		}
		.youtube svg { color: #cc00009c; }
		.facebook svg { color: #00f8; }
		.questions svg { color: #00daff; }
		.instagram svg { color: #ff00de96; }
		.tiktok svg {
			color: #0009;
			filter: drop-shadow(4px 4px 0 rgba(255, 100, 100, 0.5)) drop-shadow(-3px -3px 0 rgba(100, 100, 255, 0.5));
		}
		shopper-product {
			.product-content::before {
				opacity: 0.6;
				display: block;
				content: "Featured product";
				font-size: 1em;
				font-weight: bold;
				margin-bottom: 1em;
				text-transform: uppercase;
			}
			img {
				user-select: none;
				-webkit-user-drag: none;
				user-drag: none;
				border-radius: 1em;
				box-shadow: 1px 2px 7px #0002;
			}
		}
	}
}
