
extends _templates/_page.pug

block append variables
	- pageName = "home"
	- pageSubtitle = ""

block main
	.homie
		h1 Welcome to Nail Career Education
		img(src="/assets/images-medium/suzie/suzie-with-coffee.jpg" alt="")
	.homegrid
		.youtube
			.image
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<rect x="3" y="5" width="18" height="14" rx="4" />
					<path d="M10 9l5 3l-5 3z" />
				</svg>
			.slate
				h2 YouTube Channel
				p Suzie hosts the popular Nail Career Education YouTube Channel, which has more than 2 million subscribers!
				.buttons
					a(target="_blank" href="https://www.youtube.com/channel/UCTldDNXS4GeChcmwm55mXYQ") Watch NCE on YouTube
		.questions
			.image
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" />
					<path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" />
				</svg>
			.slate
				h2 New Questions Board
				p Ask questions for Suzie to answer in her videos!
				p Help Suzie pick the best questions by liking them with hearts.
				.buttons
					a(href="./community/questions") See the new Questions Board
		<shopper-product data-new restocking-soon show-image href="/store/products/quick-tips" link="https://nail-career-education.myshopify.com/admin/products/6669675003940"></shopper-product>
		.facebook
			.image
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
				</svg>
			.slate
				h2 Suzie's Facebook
				.buttons
					a(target="_blank" href="https://www.facebook.com/NailCareerEducation/") See NCE on Facebook
		.instagram
			.image
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<rect x="4" y="4" width="16" height="16" rx="4" />
					<circle cx="12" cy="12" r="3" />
					<line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
				</svg>
			.slate
				h2 Suzie's Instagram
				p @nailcareereducation
				.buttons
					a(target="_blank" href="https://www.instagram.com/nailcareereducation/") See NCE on Instagram
