
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: Raleway, sans-serif;
	background: fixed linear-gradient(
		to bottom,
		#f3fffe,
		#cefff6 15%,
		#8ad0d8,
	);
	color: #5b9d9a;
}

a, *::part(link) {
	opacity: 0.7;
	color: #007eff;
	&:hover, &:focus {
		opacity: 1;
		color: #007eff;
	}
	&:active {
		color: #37c015;
	}
	&:visited {
		color: #4a00ff;
	}
}

body > * {
	width: 100%;
	max-width: 100em;
	margin: auto;

	transition: width 2s ease;

	@media (min-width: 1080px) {
		width: 90%;
	}
}

menu-system {
	text-align: initial;
	--menu-lanesize: 0.5em;
	--menu-margin: 0.5em 0 0 0;
	--menu-background: #00a6ff47;
	@media (min-width: 640px) {
		--menu-lanesize: 2em;
		--menu-margin: 1em 0 0 0;
	}
	shopper-button {
		cursor: pointer;
		border-radius: 0.3em;
	}
	xiome-my-avatar {
		display: block;
		cursor: pointer;
		&::part(xio-avatar) {
			display: block;
		}
	}
}

main {
	text-align: center;
}

.paddy {
	padding: 1em;
}

[data-page="home"] .example {
	padding-top: 10em;
	padding-bottom: 10em;
}
