
extends ../../../_templates/_store-product.pug

block append variables
	- pageSubtitle = "Suzie’s Gingerbread Cookies Cuticle Oil"

block product
	shopper-product(restocking-soon link="6848650739748")

block visual
	<carouse-carousel data-aspect="1x1" loop hidden>
		<figure><img src="/assets/images-medium/products/oil/gingerbread-cookies-01.jpg"/></figure>
	</carouse-carousel>

block writeup
	<p class="made-in-canada"><span>🇨🇦 Made in Canada</span></p>
	<h2>Helping your hands &amp; nails feel hydrated</h2>
	<p>Gingerbread Cookies, just in time for Christmas.</p>
	<p>Moisturizing Vitamin E oil that softens cuticles, caring for dry or brittle nails.</p>
	<p><em>(Nut free)</em></p>

	<p>Suzie: "In my 30 year career, I've never missed using cuticle oil after every nail service. It replenishes hydration, and I love its fresh fragrance"</p>
	<p>Suzie's luxury cuticle oil leaves your hands feeling nourished and hydrated. One drop on your cuticle keeps your skin soft and helps prevent dry skin, dry nails and hang nails.</p>
	<p>Massage all over your hands. Includes a dropper for sanitary application.</p>
	<p><em>(One 30ml bottle)</em></p>
